<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%-5level] %msg%n%throwable"/>
        </Console>
        <File name="FileLogger" fileName="test_reports/test.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{dd.MM.YYYY HH:mm:ss} [%-5level] %msg%n%throwable"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all" includeLocation="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>